@page
@model Api.Admin.SpeedGovernors.Map.MapModel
@{
}

<h1>Map view</h1>
<div class="row">
<div id="map" style="height: 700px;width: 100%;"></div>
</div>

@section Scripts {
<script src="~/js/Map.js"></script>
}