:root {

  --theadColor: rgb(23,102,46);

  --theadTextColor: #fff;

  --darkColor:#f5f5f5;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.imgBox {
   position: relative;
   width: 50%;
   height: 100;
}

section .imgBox:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #c91e63, #03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}

section .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contentBx {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .contentBx .formBx {
   width: 50%;
}

section .contentBx .formBx  h2 {
   color: #607d8b;   
   font-weight: 600;
   font-size: 1.5em;
   text-transform: uppercase;
   margin-bottom: 20px;
   border-bottom: 4px solid #ff4584;
   display: inline-block;
   letter-spacing: 1px;
}

section .contentBx .formBx  .inputBx {
    margin-bottom: 5px;
} 
section .contentBx .formBx  .inputBx span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 500;
    letter-spacing: 1px;
}

section .contentBx .formBx  .inputBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight:400;
    border: 1px solid #607d8d;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}


section .contentBx .formBx  .inputBx input[type="submit"] {
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

 li .formBx  .inputBx input[type="submit"] {
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: larger;
    margin: 15px;
    padding: 15px;
}

li .formBx {
    width: 75px;
    height: 100px;
}

section .contentBx .formBx  .inputBx input[type="submit"]:hover {
    background: #f53677;
}


section .contentBx .formBx .remember {
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 400;
  font-weight: 14px;
}

section .contentBx .formBx  .inputBx p {
     color: #607d8b;

}

section .contentBx .formBx  .inputBx p a {
     color: #ff4584;
}


@media (max-width: 768px) {
    section .imgBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section .contentBx {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section .contentBx .formBx {
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255 / 0.9);
        margin: 50px;
    }

    section .contentBx .formBx h3 {
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10 px;
        font-weight: 500;
    }
}

.nav {
    width: 100%;
    height: 75px;
    background-color: #fff;
    line-height: 75px;
    padding: 0px 80px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.nav .logo {
    float: left;
}

.nav .logo #logo {
    display: flex;
    justify-content:space-evenly
}

.nav .logo p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color:#000;
    text-transform: uppercase;
}

.nav ul {
    float: right;
}

.nav ul li {
    list-style: none;
    display: inline-block;
}

.nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    text-transform: uppercase ;
    padding: 0px 20px;
}

.nav ul li a:hover {
    color: #ff4584;
    cursor: pointer;
}

.checkbtn {
    font-size: 22px;
    cursor: pointer;
    display: none;
    float: right;
}
#check {
    display: none
}

.row {
    padding: 50px;
}

@media (max-width: 768px) {
    .nav{
        padding: 0px 20px;
    }

    .checkbtn{
        display: block;
    }

    
    .row{
        padding: 0px;
    }

    .nav .logo p {
        font-size: 18px;
    }


   .nav  ul{
        width: 100%;
        height: 100vh;
        top: 75px;
        background-color: #fff;
        position:fixed;
        left: -100%;
        z-index: 100;
        text-align: center;
        transition: 0.4s ease-in-out;
    }

    .nav ul li {
        display: block;
        margin: 60px 0px;
        line-height: 20px;

    }

    #check:checked ~ ul {
        left: 0;
    }
   
 
}

.radio{
    margin-bottom: 10px;
}

.radio input {
    margin-left: 30px;
    font-size: 25px;
    font-weight: 100;


}


.upper {
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.lower{
  height: 20%;   
}
footer {
    margin-top: 60px;
}
.div-upper {
    flex:1;
}

.div-upper p {
    position: relative;

}

.div-upper h2 {
   font-weight: 600;
   font-size: 1.5em;
   text-transform: uppercase;
   margin-bottom: 20px;
   border-bottom: 4px solid #17662e;
   display: inline-block;
   letter-spacing: 1px;
}

@media (max-width: 768px) {
    .upper {
        flex-direction: row;
    }
}

.container {
    padding: 15px;
    position: relative;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#page-container {
    width: 100%;
    min-height: 100vh;
}

 .footer-banner {
    background: rgba(104, 113, 128);
    display: flex;
    flex-direction: column;
    height: 350px;
    padding: 20px;
}   

.register-list {
    display: flex;
    justify-content: space-between;
}

.register-link {
    font-size: 22px;
    background-color: rgb(23,102,46);
    padding: 10px;
}

.register-link a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}


 table.dataTable {

       border:2px solid rgb(170, 11, 11);

      }

      thead {

        background-color: var(--theadColor);

        

      }

      thead > tr,

      thead > tr > th {

        background-color: transparent;

        color: var(--theadTextColor) !important;

        font-weight: 300;
    
          text-align: start;

      }

      table.dataTable thead th,

      table.dataTable thead td {

        border-bottom: 0px solid #111 !important;

      }

      .dataTables_wrapper > div {

        margin: 5px;

      }

      table.dataTable.display tbody tr.even > .sorting_1,

      table.dataTable.order-column.stripe tbody tr.even> .sorting_1 table.dataTable.display

        tbody

        tr.even,

      table.dataTable.display tbody tr.odd > .sorting_1,

      table.dataTable.order-column.stripe tbody tr.odd > .sorting_1,

      table.dataTable.display tbody tr.odd {

        background-color: #ffffff;

      }

      table.dataTable thead th {

        position: relative;

        background-image: none !important;

      }

      table.dataTable thead th.sorting:after,

      table.dataTable thead th.sorting_asc:after,

      table.dataTable thead th.sorting_desc:after {

        position: absolute;

        top: 12px;

        right: 8px;

        display: block;

        font-family: "Font Awesome\ 5 Free";

      }

      table.dataTable thead th.sorting:after {

        content: "\f0dc";

        color: #ddd;

        font-size: 1em;

        padding-top: 0.12em;

      }

      table.dataTable thead th.sorting_asc:after {

        content: "\f0de";

      }

      table.dataTable thead th.sorting_desc:after {

        content: "\f0dd";

      }
      tbody tr {
          font-weight: 600;
          font-size:20px
      }
      table.dataTable.display tbody tr:hover > .sorting_1,

      table.dataTable.order-column.hover tbody tr:hover > .sorting_1,

      tbody tr:hover {

        background-color: var(--darkColor) !important;

        color: #000;
        font-weight: 600;

      }

      .dataTables_wrapper .dataTables_paginate .paginate_button.current, 

      .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {

             background: none !important;

             border-radius: 50px;

         background-color: var(--theadColor) !important;

         color:#000 !important

      }

.paginate_button.current:hover

{

        background: none !important;

             border-radius: 50px;

             background-color: var(--darkColor) !important;

         color:#fff !important

}

.paging_simple_numbers {
    color: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {

  border: 1px solid #979797;

  background: none !important;

  border-radius: 50px !important;

   background-color: var(--darkColor) !important;

   color: #fff !important;

}

section[class="speedgove-create"]{
    justify-content: center;
}
section[class="speedgove-create"] .contentBx{
    display: flex;
    justify-content:flex-start ;
    align-items:unset;
    margin-top: 0px;
    min-width: 600px;
    height: 500px;
}

section[class="speedgove-create"] .contentBx .inputBx {
    display: block;
    margin: 20px;
}

.inputBx select{
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    font-size: large;

}


