@page "{imei}"

@model Api.Pages.Admin.SpeedGovernors.Map.IndexModel
@{
    Layout = "_Layout";
}
<h1>Map view</h1>

<div id="map" style="height: 700px;width: 100%;"></div>



@section Scripts {
<script src="~/js/Map.js"></script>
}