@page
@model Api.Admin.SpeedGovernors.Upsert.IndexModel

<div class="row">
    <section class="speedgove-create">
        <div class="contentBx">
            <div class="formBx">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if (Model.SpeedgovObj.Imei != null)
                    {
                        <input type="hidden" asp-for="SpeedgovObj.Imei" />
                    }

                    <div class="inputBx" style="border-bottom:1px solid #325d88;">
                        <h2 class="text-primary">@(Model.SpeedgovObj.Imei !=null ? "Update ": "Create ")SpeedGoverner
                        </h2>
                    </div>

                    <div class="inputBx">
                        <span>Imei</span>
                        <input class="form-control" asp-for="Input.Imei" />
                        <label class="text-danger" asp-validation-for="Input.Imei"></label>
                    </div>

                    <div class="inputBx">
                        <span>Plate Number</span>
                        <input class="form-control" asp-for="Input.PlateNumber" />
                        <label class="text-danger" asp-validation-for="Input.PlateNumber"></label>
                    </div>

                    <div class="inputBx">
                        <span>SpeedGoverner Phone Number</span>
                        <input class="form-control" asp-for="Input.PhoneNumber" />
                        <label class="text-danger" asp-validation-for="Input.PhoneNumber"></label>
                    </div>

                    <div class="inputBx">
                        <span>FullName</span>
                        <select name="userlist">
                            @foreach (var item in Model.UserList)
                            {
                                <option value="@item.Id">@item.FullName</option>
                            }
                        </select>
                    </div>

                    <div class="inputBx">
                            @if (Model.SpeedgovObj.Imei != null)
                            {
                                <input type="submit" value="Update"/>
                            }
                            else
                            {
                                <input type="submit" value="Create">
                            }
                        <div class="inputBx">
                            <p>
                                <a asp-asp-page="./Index" >Back to List</a>
                            </p>
                        </div>

                </form>
            </div>
        </div>
    </section>
</div>
@section Scripts {
@* <script>
    $(function () {
    $("#userlist").chosen();
    });
    </script> *@
}