<div class="footer-banner">
    <div class="upper">
        <div class="div-upper">
            <img style="width: 311px; height: 129px;" src="~/images/CDED_WHITE.png" alt="cded Logo">
            <p>
               At Centre for Development of Electronic Devices, 
               we design and build products of the highest quality,
                that you can always rely on. 
            </p>
        </div>
        <div class="div-upper">
            <h2>Contact Info</h2>
            <p>Dedan Kimathi University of Technology</p>
             Private Bag – 10143, Dedan Kimathi Nyeri</p>
            <p>cded@dkut.ac.ke</p>
            <p>+254722956166</p>
        </div>
        <div class="div-upper">
            <h2>Visit Us</h2>
            <p>We are located at Dedan Kimathi University of Technology.</p>
        </div>
    </div>
    <div class="lower">
        <div class="container-fluid text-white">

            CDED | Copyright &copy;|2021<a class="text-white" asp-area="" asp-controller="Home"
                asp-action="Privacy"></a>

        </div>
    </div>
</div>