@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fas fa-user"></i> Welcome
                @UserManager.GetUserName(User)!</a>
        </li>
        <li>
            <form  class="formBx" asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
               <div class="inputBx">
                  <input id="logout" type="submit" value="Logout" />
               </div>
            </form>
        </li>
    }
    else
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
